

body {
    
}

.wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    min-height: 1600px;
    height: auto;
    border:1px solid #000;
    width: 1100px;
    height: 1000px;
    background-color: #ebc8b2;
 }
 .logo {
    width:150px;
    height:100px;
    margin-left: 475px;
    margin-top: 15px;
    outline: 2px solid gray;
    position: relative; z-index: 1;
}
  .logo::before {
  position: absolute; z-index: 8675309;
  top: 0; bottom: 0; right: 0; left: 0;
  background:
     linear-gradient(to top right,
        transparent calc(50% - 1px), gray calc(50% - 1px),
        gray calc(50% + 1px), transparent calc(50% + 1px)),
     linear-gradient(to bottom right,
        transparent calc(50% - 1px), gray calc(50% - 1px),
        gray calc(50% + 1px), transparent calc(50% + 1px)),
     #FFF9;
     content: "";
}

  .button1{
    width: 100px;
    height: 65px;
    float: left; 
    margin-left: 30px; 
    margin-top: 50px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  }
  .button2{
    width: 100px;
    height: 65px;
    float: left; 
    margin-left: 30px; 
    margin-top: 50px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  }
  .button3{
    width: 100px;
    height: 65px;
    float: left; 
    margin-left: 30px; 
    margin-top: 50px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  }
  .button4{
    width: 100px;
    height: 65px;
    float: right;  
    margin-right: 30px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  }
  .button5{
    width: 100px;
    height: 65px;
    float: right;  
    margin-right: 30px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  }
  .button6{
    width: 100px;
    height: 65px;
    float: right;  
    margin-right: 30px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
    
  }

  .button1 {
    letter-spacing: 0;
  }
  
  .button1:hover,
  .button1:active {
    letter-spacing: 5px;
  }
  
  .button1:after,
  .button1:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
  }
  
  .button1:hover:after,
  .button1:hover:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-color: #fff;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 70%;
  }
  
  .button1:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
  
.button2 {
  letter-spacing: 0;
}

.button2:hover,
.button2:active {
  letter-spacing: 5px;
}

.button2:after,
.button2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button2:hover:after,
.button2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

--------


.button3 {
  letter-spacing: 0;
}

.button3:hover,
.button3:active {
  letter-spacing: 5px;
}

.button3:after,
.button3:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button3:hover:after,
.button3:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button3:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}


.button4 {
  letter-spacing: 0;
}

.button4:hover,
.button4:active {
  letter-spacing: 5px;
}

.button4:after,
.button4:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button4:hover:after,
.button4:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button4:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.button5 {
  letter-spacing: 0;
}

.button5:hover,
.button5:active {
  letter-spacing: 5px;
}

.button5:after,
.button5:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button5:hover:after,
.button5:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button5:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.button6 {
  letter-spacing: 0;
}

.button6:hover,
.button6:active {
  letter-spacing: 5px;
}

.button6:after,
.button6:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button6:hover:after,
.button6:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button6:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
  

  .slideshow{
    width: 1060px;
    height: 300px;
    margin-left: 20px;
    margin-top: 30px; 
    outline: 2px solid gray;
    position: relative; z-index: 1;
  }
  .slideshow::before {
    position: absolute; z-index: 8675309;
    top: 0; bottom: 0; right: 0; left: 0;
    background:
       linear-gradient(to top right,
          transparent calc(50% - 1px), gray calc(50% - 1px),
          gray calc(50% + 1px), transparent calc(50% + 1px)),
       linear-gradient(to bottom right,
          transparent calc(50% - 1px), gray calc(50% - 1px),
          gray calc(50% + 1px), transparent calc(50% + 1px)),
       #FFF9;
       content: "";
  }

  .left-button-slideshow{
    border:1px solid #000;  
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 115px; 
  }

  .right-button-slideshow{
    border:1px solid #000;  
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 20px;
    margin-top: 115px; 
  }
  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
  }
  .dots{
    margin-left: 500px;
  }


  .left-text-box{
    border:1px solid #000;
    float: left;
    position: absolute;
  }
  .right-text-box{
    border:1px solid #000;
    float: right;
    position: absolute;
  }

  .bigdotleft {
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 70px;
    float: left;
    margin-right: 500px;
    margin-left: 40px;
  }
  .bigdotright {
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 70px;
    float: right;
    margin-left: 500px;
    margin-right: 40px;
  }

  .burger-picture {
    width:400px;
    height:530px;
    margin-left: 350px;
    margin-top: 15px;
    outline: 2px solid gray;
    position: relative; z-index: 1;
    margin-bottom: 150px;
}
  .burger-picture::before {
  position: absolute; z-index: 8675309;
  top: 0; bottom: 0; right: 0; left: 0;
  background:
     linear-gradient(to top right,
        transparent calc(50% - 1px), gray calc(50% - 1px),
        gray calc(50% + 1px), transparent calc(50% + 1px)),
     linear-gradient(to bottom right,
        transparent calc(50% - 1px), gray calc(50% - 1px),
        gray calc(50% + 1px), transparent calc(50% + 1px)),
     #FFF9;
     content: "";
}



.bottomdot3{
  height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}
.bottomdot4{
  height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  float: right;
  margin-top: 55px;
  margin-right: 20px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  transform: translateY(-4px);
    transition:0.3s;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}